@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

body {
  background: #fafafa;
  overflow-x: hidden;
}
body.fixed-height {
  height: 100vh;
  overflow-y: hidden;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
.backdrop.is-show {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

.form-field {
  margin: 16px;
}
.form-field.form-inline {
  display: flex;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0px 0px 0px 16px;
  height: 40px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: Poppins-Klaviyo-Hosted, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  background-color: rgb(244, 244, 244);
  border: 1px solid rgb(96, 106, 114);
}
.form-control::placeholder {
  color: #111;
  font-weight: 400;
}

/* Otros estilos de formularios... */
.site-header {
  background-color: #fff;
  z-index: 1000;
}
.site-header .first-row {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
.site-header .second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.45rem 1rem;
  text-align: center;
}
.site-header .second-row .menu-trigger .close-icon {
  transform: scale(0) rotate(45deg);
}
.site-header .custom-logo {
  max-width: 100px;
}

@media screen and (min-width: 37.5em) {
  .site-header .second-row .nav-options svg {
    margin-right: 10px;
  }
  .site-header .second-row .menu-trigger {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}
.site-footer {
  color: #fff;
  background-color: #000;
  min-height: 60vh;
}
.site-footer .site-info {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}
.site-footer .footer-legal {
  display: flex;
  flex-direction: column;
}
.site-footer .copyright {
  max-width: 90%;
  text-align: center;
  padding: 2rem 0;
}
.site-footer .col-1, .site-footer .col-2, .site-footer .col-3 {
  min-width: 25%;
  margin-right: 80px;
}
.site-footer .footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .footer-menu a {
  display: block;
  color: #fff;
  margin: 20px 0;
  text-decoration: none;
}
.site-footer .newsletter-container .newsletter-form input {
  display: block;
  width: 100%;
  padding: 20px;
}
.site-footer .footer-payment {
  padding-bottom: 20px;
}
.site-footer .footer-payment ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}
.site-footer .footer-payment svg {
  filter: grayscale(100%);
}

@media (min-width: 1024px) {
  .site-footer .site-info {
    flex-direction: row;
  }
  .site-footer .footer-legal {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.nav-menu {
  position: absolute;
  left: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -1;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: all 300ms ease;
}
.nav-menu.is-show {
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  overflow-y: auto;
}
.nav-menu li {
  padding: 15px 10px;
  margin-right: 10px;
}
.nav-menu li a {
  position: relative;
  padding: 5px;
  color: #111;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .sub-menu {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  list-style: none;
  margin: 0;
  padding: 20px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
}
.nav-menu li:hover .sub-menu {
  opacity: 1;
}

@media screen and (min-width: 37.5em) {
  .nav-menu {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
    z-index: 10;
    height: auto;
    pointer-events: auto;
  }
  .nav-menu li {
    padding: 0 10px 20px 10px;
  }
  .nav-menu li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: currentColor;
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms, opacity 400ms;
  }
  .nav-menu li a:hover:before {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
}
button:active, button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

.btn {
  display: block;
  max-width: 270px;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  text-align: center;
  font-weight: 600;
}
.btn:hover {
  color: #fff;
  background-color: #000;
}
.btn.btn-block {
  width: 100%;
  max-width: unset;
}
.btn.btn-secondary {
  background-color: #111;
}

.button-reset {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

.sticky {
  display: block;
}

.site-main .post,
.site-main .page {
  max-width: 1024px;
  margin: 4rem auto;
  padding: 2em 1em;
  line-height: 1.5;
  min-height: 100vh;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
  line-height: 2;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Otros estilos para comentarios... */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Otros estilos para widgets... */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Otros estilos de medios... */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

a {
  color: #4169e1;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus,
a:active {
  color: #191970;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 800px;
  min-height: 50vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: -1;
  opacity: 0;
}
.popup.is-show {
  opacity: 1;
  z-index: 99999;
}
.popup .popup-section {
  flex-basis: 100%;
  text-align: center;
}
.popup .popup-section:nth-child(1) img {
  display: none;
}
.popup .popup-section:nth-child(2) {
  padding: 2em 1em;
}
.popup .custom-logo {
  max-width: 150px;
}

@media (min-width: 800px) {
  .popup {
    display: flex;
    flex-direction: row;
  }
  .popup .popup-section {
    flex-basis: 50%;
    text-align: center;
  }
  .popup .popup-section:nth-child(1) img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}
.close-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  color: #111;
  border-radius: 50%;
  font-weight: 800;
  font-size: 50px;
  cursor: pointer;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

@keyframes vibrate {
  0%, 100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
.vibrate {
  transition: transform 0.1s; /* Smooth transition */
}

.vibrate:hover {
  animation: vibrate 0.5s infinite; /* Start vibration on hover */
}

.frontpage-banner {
  position: relative;
  background-size: cover !important;
  min-height: 80vh;
  background-color: #111;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 110%;
}
.frontpage-banner h1 {
  font-size: 2.5rem;
}
.frontpage-banner .content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
}

.collections {
  background-color: #f5ebdf;
  min-height: 80vh;
}

.main-image {
  position: relative; /* Keep main image in normal flow */
  z-index: 1; /* Ensure it is above the gallery images */
}

.product-gallery {
  position: absolute; /* Position absolutely within the slide */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Use flexbox to align images */
  justify-content: center;
  align-items: center;
}

.gallery-image {
  position: absolute; /* Position each gallery image absolutely */
  top: 0;
  left: 0;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}

.product-gallery:hover .gallery-image {
  opacity: 0; /* Hide all on hover */
}

/* Show the first image on hover */
.product-gallery:hover .gallery-image:first-child {
  opacity: 1; /* Show first image on hover */
}

/* Show the next image on hover based on index */
.product-gallery:hover .gallery-image:nth-child(n):hover {
  opacity: 1; /* Show hovered image */
}

/* Show all images when hovering over the gallery */
.product-gallery:hover .gallery-image:nth-child(n) {
  opacity: 0; /* Reset all to hidden */
}

.product-gallery:hover .gallery-image:nth-child(n+1):hover {
  opacity: 1; /* Show hovered image */
}

.product-description {
  text-align: center;
}

.swiper-slide {
  position: relative;
  height: 100%; /* Asegura que cada diapositiva ocupe toda la altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
}
.swiper-slide .link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: #000;
}

.swiper-slide img {
  width: 100%;
  height: 100%; /* Ajusta la imagen para que no exceda la altura de la diapositiva */
  object-fit: cover;
  filter: brightness(0.75);
}

.section {
  color: #000;
  min-height: 100vh;
  overflow-x: hidden;
}
.section.products {
  min-height: 100vh;
  margin: 2rem auto;
  max-width: 1440px;
}
.section.products .swiper-container {
  width: 100%;
  height: 400px; /* Altura fija para el contenedor */
}
.section.products, .section.product-categories {
  position: relative;
}
.section.product-categories {
  margin: auto;
  background-color: #f5ebdf;
}
.section.product-categories .swiper-container {
  width: 100%;
  margin: 2rem auto;
  height: 500px; /* Altura fija para el contenedor */
  overflow: hidden;
}
.section.product-categories .swiper-container .swiper-slide {
  position: relative;
}
.section.product-categories .swiper-container .swiper-slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.25;
}
.section.product-categories .swiper-container .swiper-slide .category-content {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 80%;
  line-height: 2;
  transition: transform 100ms ease;
}
.section.product-categories .swiper-container .swiper-slide .category-content h3 {
  text-transform: uppercase;
  font-weight: 3rem;
  font-weight: 800;
}
.section.product-categories .swiper-container .swiper-slide:hover .category-content {
  transform: translate(-50%, -2rem);
  transition: transform 300ms ease;
}
.section.product-categories .swiper-container img {
  height: 100%; /* Ajusta la imagen para que no exceda la altura de la diapositiva */
  width: 100%; /* Mantiene la proporción de la imagen */
  object-fit: cover;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: #f5ebdf;
  color: #000;
  padding: 2em;
}
.banner.banner-white-color {
  color: #fff;
}
.banner.banner-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.35;
}
.banner .banner-content {
  position: relative;
  font-weight: 600;
  z-index: 1;
}

@media (min-width: 800px) {
  .frontpage-banner {
    background-size: cover !important;
  }
}
@media (min-width: 960px) {
  .swiper-slide {
    margin-right: 4px !important;
  }
}
@media (min-width: 1024px) {
  .section.products {
    padding: 2rem 4rem;
  }
  .section.product-categories {
    padding: 4rem;
  }
}
.whatsapp-icon {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(112.42deg, rgb(34, 206, 90) 0%, rgb(34, 206, 90) 0.01%, rgb(48, 191, 66) 100%);
  border-radius: 50%;
  z-index: 100;
}
.whatsapp-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instagram-icon {
  display: inline-block;
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 100;
}
.instagram-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container,
.shopcart-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 50vw;
  height: 100vh;
  transform: translateX(100%);
  z-index: -1;
  opacity: 0;
  padding: 4rem;
}
.search-container.is-show,
.shopcart-container.is-show {
  z-index: 100;
  opacity: 1;
  transform: translateX(0);
}

/*# sourceMappingURL=style.css.map */
