button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;

  &:hover {
    border-color: #ccc #bbb #aaa;
  }

  &:active,
  &:focus {
    border-color: #aaa #bbb #bbb;
  }
}

.btn {
  display: block;
  background-color: #fff;
  padding: 1.2rem 4rem;
  margin: 1rem 0;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
