.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .nav-menu {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      padding: 15px 10px;
      margin-right: 10px;
    }

    & li a {
      position: relative;
      padding: 5px;
      color: #111;
      font-size: 1.15rem;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background-color: currentColor;
        opacity: 0.3;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 400ms, opacity 400ms;
      }

      &:hover {
        &:before {
          opacity: 1;
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    & .sub-menu {
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      width: 90%;
      list-style: none;
      margin: 0;
      padding: 20px;
      min-height: 300px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      opacity: 0;
    }

    & li:hover {
      & .sub-menu {
        opacity: 1;
      }
    }
  }
}
