.nav-menu {
  position: absolute;
  left: 0;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -1;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: all 300ms ease;
  &.is-show {
    opacity: 1;
    z-index: 10;
    pointer-events: auto;
    overflow-y: auto;
  }
  & li {
    padding: 15px 10px;
    margin-right: 10px;
  }

  & li a {
    position: relative;
    padding: 5px;
    color: #111;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: currentColor;
      opacity: 0.3;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 400ms, opacity 400ms;
    }

    &:hover {
      &:before {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  & .sub-menu {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 20px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
  }

  & li:hover {
    & .sub-menu {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 37.5em) {
  .nav-menu {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
    z-index: 10;
    height: auto;
    pointer-events: auto;
  }
}
