.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 800px;
  min-height: 50vh;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 99999;

  & .popup-section {
    flex-basis: 100%;
    text-align: center;

    &:nth-child(1) img {
      display: none;
    }

    &:nth-child(2) {
      padding: 2em 1em;
    }
  }

  & .custom-logo {
    max-width: 150px;
  }
}

@media (min-width: 800px) {
  .popup {
    display: flex;
    flex-direction: row;

    & .popup-section {
      flex-basis: 50%;
      text-align: center;

      &:nth-child(1) img {
        display: block;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #111;
  padding: 5px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 24px;
}
