.sticky {
  display: block;
}

.site-main .post,
.site-main .page {
  max-width: 1024px;
  margin: 4rem auto;
  padding: 2em 1em;
  line-height: 1.5;
  min-height: 100vh;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
  line-height: 2;
}

strong {
  text-decoration: 2px solid underline;
  color: #111;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
