.sticky {
  display: block;
}

.site-main .post,
.site-main .page {
  padding: 2em 1em;
  line-height:1.5;
  min-height:1000px;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
