.frontpage-banner {
  position: relative;
  background-size: cover !important;
  min-height: 80vh;
  background-color: #111;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 110%;

  & h1 {
    font-size: 2.5rem;
  }

  & .content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
  }
}

.collections {
  background-color: #f5ebdf;
  min-height: 80vh;
}

.product-gallery {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.product-description {
  text-align: center;
}

.swiper-slide {
  height: 100%; /* Asegura que cada diapositiva ocupe toda la altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
}
.swiper-slide > img {
  max-height: 100%; /* Ajusta la imagen para que no exceda la altura de la diapositiva */
  width: 100%; /* Mantiene la proporción de la imagen */
  object-fit: cover;
}

.section {
  color: #000;
  min-height: 100vh;
  &.products {
    min-height: 100vh;
    margin: 2rem auto;
    max-width: 1440px;
    padding: 0 2rem;
    & .swiper-container {
      width: 100%;
      height: 400px; /* Altura fija para el contenedor */
    }
  }

  &.product-categories {
    padding: 4rem;
    margin: auto;
    background-color: #f5ebdf;

    & .swiper-container {
      width: 100%;
      height: 500px; /* Altura fija para el contenedor */

      & img {
        height: 100%; /* Ajusta la imagen para que no exceda la altura de la diapositiva */
        width: 100%; /* Mantiene la proporción de la imagen */
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 800px) {
  .frontpage-banner {
    background-size: cover !important;
  }
}

@media (min-width: 960px) {
  .swiper-slide {
    margin-right: 4px !important;
  }
}

@media (min-width: 1024px) {
  .section {
    &.products {
      padding: 2rem 4rem;
    }
  }
}

.whatsapp-icon {
  background-image: linear-gradient(
    112.42deg,
    rgb(34, 206, 90) 0%,
    rgb(34, 206, 90) 0.01%,
    rgb(48, 191, 66) 100%
  );
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 100;

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
