.frontpage-banner {
  position: relative;
  background-size: cover !important;
  min-height: 80vh;
  background-color: #111;
  margin-bottom: 2rem;
  line-height: 2;
  font-size: 110%;

  & h1 {
    font-size: 2.5rem;
  }

  & .content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
  }
}

.collections {
  background-color: #f5ebdf;
  min-height: 80vh;
}

.main-image {
  position: relative; /* Keep main image in normal flow */
  z-index: 1; /* Ensure it is above the gallery images */
}

.product-gallery {
  position: absolute; /* Position absolutely within the slide */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Use flexbox to align images */
  justify-content: center;
  align-items: center;
}

.gallery-image {
  position: absolute; /* Position each gallery image absolutely */
  top: 0;
  left: 0;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
}

.product-gallery:hover .gallery-image {
  opacity: 0; /* Hide all on hover */
}

/* Show the first image on hover */
.product-gallery:hover .gallery-image:first-child {
  opacity: 1; /* Show first image on hover */
}

/* Show the next image on hover based on index */
.product-gallery:hover .gallery-image:nth-child(n):hover {
  opacity: 1; /* Show hovered image */
}

/* Show all images when hovering over the gallery */
.product-gallery:hover .gallery-image:nth-child(n) {
  opacity: 0; /* Reset all to hidden */
}
.product-gallery:hover .gallery-image:nth-child(n + 1):hover {
  opacity: 1; /* Show hovered image */
}

.product-description {
  text-align: center;
}

.swiper-slide {
  position: relative;
  height: 100%; /* Asegura que cada diapositiva ocupe toda la altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
  & .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: #000;
  }
}
.swiper-slide img {
  width: 100%;
  height: 100%; /* Ajusta la imagen para que no exceda la altura de la diapositiva */
  object-fit: cover;
  filter: brightness(0.75);
}

.section {
  color: #000;
  min-height: 100vh;
  overflow-x: hidden;
  &.products {
    min-height: 100vh;
    margin: 2rem auto;
    max-width: 1440px;
    & .swiper-container {
      width: 100%;
      height: 400px; /* Altura fija para el contenedor */
    }
  }

  &.products,
  &.product-categories {
    position: relative;
  }

  &.product-categories {
    margin: auto;
    background-color: #f5ebdf;
    & .swiper-container {
      width: 100%;
      margin: 2rem auto;
      height: 500px; /* Altura fija para el contenedor */
      overflow: hidden;

      & .swiper-slide {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #000;
          opacity: 0.25;
        }

        & .category-content {
          color: #fff;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          top: 80%;
          line-height: 2;
          transition: transform 100ms ease;
          & h3 {
            text-transform: uppercase;
            font-weight: 3rem;
            font-weight: 800;
          }
        }

        &:hover .category-content {
          transform: translate(-50%, -2rem);
          transition: transform 300ms ease;
        }
      }

      & img {
        height: 100%; /* Ajusta la imagen para que no exceda la altura de la diapositiva */
        width: 100%; /* Mantiene la proporción de la imagen */
        object-fit: cover;
      }
    }
  }
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: #f5ebdf;
  color: #000;
  padding: 2em;

  &.banner-white-color {
    color: #fff;
  }

  &.banner-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.35;
  }

  & .banner-content {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
}

@media (min-width: 800px) {
  .frontpage-banner {
    background-size: cover !important;
  }
}

@media (min-width: 960px) {
  .swiper-slide {
    margin-right: 4px !important;
  }
}

@media (min-width: 1024px) {
  .section {
    &.products {
      padding: 2rem 4rem;
    }
    &.product-categories {
      padding: 4rem;
    }
  }
}

.whatsapp-icon {
  background-image: linear-gradient(
    112.42deg,
    rgb(34, 206, 90) 0%,
    rgb(34, 206, 90) 0.01%,
    rgb(48, 191, 66) 100%
  );
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 100;

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.search-container,
.shopcart-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: calc(100% - 5rem);
  transform: translateX(100%);
}
