.site-footer {
  color: #fff;
  background-color: #000;
  min-height: 60vh;

  & .site-info {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
  }

  & .footer-legal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .copyright {
    max-width: 90%;
    text-align: center;
    padding: 2rem 0;
  }

  & .col-1,
  & .col-2,
  & .col-3 {
    min-width: 25%;
    margin-right: 80px;
  }

  & .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    & a {
      display: block;
      color: #fff;
      margin: 20px 0;
      text-decoration: none;
    }
  }

  .newsletter-container {
    & .newsletter-form input {
      display: block;
      width: 100%;
      padding: 20px;
    }
  }

  .footer-payment {
    ul {
      display: flex;
      list-style: none;
    }

    & svg {
      filter: grayscale(100%);
    }
  }
}

@media (min-width: 1024px) {
  .site-footer {
    & .site-info {
      flex-direction: row;
    }

    & .footer-legal {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
