.site-header {
  background-color: #fff;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
  & .first-row {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 5px 0;
  }

  & .second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem;
    text-align: center;

    & .menu-trigger {
      & .close-icon {
        transform: scale(0) rotate(45deg);
      }
    }
  }

  & .custom-logo {
    max-width: 100px;
  }
}

@media screen and (min-width: 37.5em) {
  .site-header {
    & .second-row {
      & .menu-trigger {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
      }
    }
  }
}
